SECRET_KEY='django-insecure-)8o9(%so8t#h$21tc(4ny!5s^(%e)a7vqnp6a'
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DEBUG=False
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
CORS_ALLOWED_ORIGINS=http://127.0.0.1,http://localhost
